<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title).presence || "Pumpkin" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Pumpkin",  root_path, class: "navbar-brand" %>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to "Quizzes",  root_path %></li>
      <li><%= link_to "High Scores",  scores_path %></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="active"><a href="javascript:void(0)"><%= current_user.name.presence || current_user.email %></a></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
      <% else %>
        <li><%= link_to "Sign In",  user_session_path %></li>
      <% end %>
    </ul>
  </div>
</div>
<div class="container">
<%= yield %>
</div>
</body>
</html>
